@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Header Design */

header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo {
  color: #3a3a3a;
  font-size: 24px;
  font-weight: 700;
}

nav ul li a {
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
}

nav ul li a img {
  max-width: 100%;
}

.header-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  color: #3a3a3a;
  font-size: 52px;
  font-weight: 700;
  max-width: 580px;
}

.header__des {
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
  max-width: 500px;
  margin-bottom: 16px;
}

.btn {
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 24px;
  border-radius: 40px;
  background-color: #e02c6d;
  border: none;
  cursor: pointer;
}

.btn i {
  margin-left: 8px;
}

.header__img {
  background: url("./images/Circle design.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__img img {
  max-width: 100%;
}

/* Company */
.company {
  max-width: 1110px;
  margin: 30px auto;
  padding-left: 30px;
  padding-right: 30px;
}
.company__img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-image: linear-gradient(
      90deg,
      rgba(192, 204, 218, 0.1) 0%,
      rgba(192, 204, 218, 0.6) 50%,
      rgba(192, 204, 218, 0.1) 100%
    )
    10;
  padding: 20px 0;
}

.company__img img {
  max-width: 100%;
}

/* Popular Products */

.popular-collection {
  max-width: 1110px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
}

.popular-collection h2 {
  color: #3a3a3a;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
  text-align: center;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.more {
  color: rgba(224.19, 43.9, 108.81, 0.87);
  font-size: 16px;
  font-family: Poppins;
  font-weight: 700;
  margin-top: 40px;
  text-align: right;
  cursor: pointer;
}

.card {
  max-width: 330px;
  padding: 15px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  cursor: pointer;
}

.card__img img {
  max-width: 100%;
}

.card__title {
  color: #18191f;
  font-size: 28px;
  font-weight: 500;
  margin: 0px;
}
.card__price {
  color: rgba(0, 0, 0, 0.87);
  font-size: 24px;
  font-family: Inter;
  font-weight: 400;
  margin-top: 6px;
}
.card__ratings {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.card__star i {
  color: Orange;
}

.card__des {
  color: #787885;
  font-size: 14px;
  font-family: Inter;
  font-weight: 700;
  line-height: 20.02px;
  letter-spacing: 0.25px;
}

/* ========== Mobile Responsive =============== */

@media (max-width: 576px) {
  header {
    padding: 40px 20px;
  }
  nav {
    flex-direction: column;
    gap: 20px;
  }
  .logo {
    font-size: 16px;
  }
  ul {
    gap: 10px;
    flex-wrap: wrap;
  }

  ul li a,
  .header__des {
    font-size: 14px;
  }

  .header-banner {
    flex-direction: column-reverse;
  }
  .header__content {
    text-align: center;
  }
  .header__title {
    font-size: 28px;
  }
  /* Company */
  .company {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
  }
  .company__img {
    flex-wrap: wrap;
    gap: 20px;
  }
  .company__img img {
    max-width: 50px;
  }

  /* Product Collection */

  .popular-collection {
    padding-left: 20px;
    padding-right: 20px;
  }

  .products {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
